<div class="modal fade" id="more-info-modal" tabindex="-1" aria-labelledby="moreInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content shadow-lg">
            <div class="modal-header ">
                <h5 class="modal-title text-capitalize" id="exampleModalLabel">informations of
                    company </h5>
                <button type="button" class="btn btn-lg text-white fs-5 " data-bs-dismiss="modal"
                    aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>