<!-- HTML header -->
<%- include("./partials/__header") %>

<!-- navbar component -->
<%- include('./partials/__navbar', {page: "contact"}) %> 

    <div class="container">
        <h1>تماس با ما</h2>
    </div>

<!-- loading scripts -->
<%- include("./partials/__scripts") %>

<%- include("./partials/__footer") %>