<!-- importing HTML header -->
<%- include("./partials/__header") %>

<!-- navbar component -->
<%- include('./partials/__navbar', {page: "home"}) %> 


    <!-- main  -->
    <main class="container text-capitalize">
        <div class="row py-5 gx-sm-3 gx-md-5 text-center">

            <!-- under maintenance page comment -->
            <h4 class="my-5">.در حال حاضر چیزی برای صفحه اصلی طراحی نشده است</h4>
            <p>.لطفا به صفحات <a class="text-primary" href="/companies/">شرکت ها</a> و <a class="text-primary" href="/employees/">کارمندان</a> مراجعه کنید</p>

        </div>

    <!-- loading scripts -->
    <%- include("./partials/__scripts") %>
    <script src="/js/main.js"></script>

<!-- importing HTML footer -->
<%- include("./partials/__footer") %>